@font-face {
    font-family: "0xProto";
    src: url(../font/0xProtoNerdFont-Regular.ttf);
}

:root {
    --primary-color: #374151;
    --secondary-color: #C6C8CC;
    --terty-color: #1F2937;
    --fourth-color: #ECEFF5;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--primary-color);
}

.disapear {
    animation: disapear 1s 1 ease-in-out;
}
.appear {
    animation: appear 1s ease-in-out;
}

@keyframes disapear {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;

    }
}

@keyframes appear {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;

    }
}

main {
    display: flex;
    transition: all ease 1s;
}

#start-up {
    background-color: #374151;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50vw;
    height: 100vh;
    transition: all ease 1s;
}

.title {
    margin-top: 10vh;
    width: fit-content;
    align-self: center;
}

.title-text {
    color: var(--secondary-color);
    width: fit-content;
    text-align: center;
}

.title-text-name {
    font-family: "0xProto";
    display: inline-block;
    font-size: 3.5rem;
    border-right: 5px solid;
    width: 80%;
    margin-inline: 10% auto;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(12),
        cursor .5s step-end infinite alternate;
}

.title-text-id {
    font-family: "0xProto";
    margin-inline: auto;
    font-size: 1.2rem;
    border-right: 2px solid;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    animation:
        typing 2.5s steps(19),
        cursor .5s step-end infinite alternate;
}

.title-text-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 50px;
    width: 85%;
    font-size: 18px;
    animation: appear 1s 1 ease-in-out;
    justify-self: center;
}

#start-button {
    font-family: "0xProto";
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--secondary-color);
    background-color: var(--terty-color);
    align-self: center;
    width: fit-content;
    padding-block: 15px;
    padding-inline: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.2;
}

#start-button:active {
    scale: 0.9;
    filter: brightness(0.9);
    transition: all ease 0.2s;
}

#start-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all ease 0.2s;
}

#start-up-images {
    width: 50vw;
    height: 100vh;
    background-color: #ECEFF5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease 1s;
}

.typewriter-image {
    width: 350px;
    z-index: 3;
    animation: 2s floating infinite;
}

.background-image {
    position: absolute;
    scale: 0.6;
}

@keyframes cursor {
    50% {
        border-right: 0px solid;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.features{
    color: var(--secondary-color) !important;
    font-family: "0xProto";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    opacity: 0;
    scale: 0.5;
    transition: all ease 0.4s;
    background-image: url(../images/features.png);
    background-position: center;
    background-size: cover;
}

.features-title{
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px var(--terty-color);

}
.features-subtitle{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.features-cards-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card{
    width: 18vw;
    border: 1px solid var(--terty-color);
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 5px var(--terty-color);
    transition: all ease 0.2s;
    border: 5px solid var(--secondary-color);
}


.card:hover{
    scale: 1.05;
    transition: all ease 0.2s;
}

#card-themes-picture{
    background-image: url(../images/themes.png);
    background-position: center;
    background-size: cover;
    width: 18vw;
    height: 18vw;
}
#card-language-picture{
    background-image: url(../images/languages.png);
    background-position: center;
    background-size: cover;
    width: 18vw;
    height: 18vw;
}
#card-font-picture{
    background-image: url(../images/fonts.png);
    background-position: center;
    background-size: cover;
    width: 18vw;
    height: 18vw;
}

#card-theme-text, #card-font-text, #card-language-text{
    background-color: var(--secondary-color);
    color: var(--terty-color);
    margin: 0%;
    font-family: monospace;
    padding: 20px;
    font-weight: 600;
}

.scrolled{
    opacity: 1 !important;
    scale: 1 !important;
    transition: all ease 0.4s;
}

#statistics{
    height: 100vh;
    background-image: url(../images/statsBackground.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    opacity: 0;
    scale: 0.5;
    transition: all ease 0.4s;
}

.stats-image{
    background-image: url(../images/statistcsIllustration.png);
    background-position: center;
    background-size: cover;
    width: 35vw;
    height: 40vh;
    border: 5px solid var(--secondary-color);
    box-shadow: 0px 0px 5px var(--primary-color);

}

.stats-content{
    color: var(--secondary-color);
    width: 40vw;
}

.stats-title{
    font-family: "0xProto";
    font-size: 40px;
    text-shadow: 0px 0px 5px var(--terty-color);
}
.stats-text{
    font-family: monospace;
}

footer{
    /* position: absolute; */
    bottom: 0;
    width: 100vw;
    height: 25vh;
    background-color: var(--terty-color);
    color: var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    a{
        text-decoration: underline;
        color: var(--secondary-color);
        font-family: monospace;
    }
}
.footer-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-year{
    margin: 0;
    justify-self: center;
}

.footer-contact p, .footer-description p, .footer-made-by p{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    a{
        text-decoration: none;
    }
}

.footer-made-by p{
    font-size: 14px;
}

.footer-contact i, .footer-description i, .footer-made-by i{
    font-size: 23px;
}





@media (width <= 450px) {
    #start-up-images{
        width: 0;
        opacity: 0%;
        transition: 1s all ease-in-out ;
    }
    #start-up {
        width: 100vw;
    }
    .title-text-name {
        border-right: none;
        animation: none;
        width: 75vw;
        text-wrap: wrap;
    }
    .title-text-id {
        width: 58%;
    }
    .typewriter-image{
        position: absolute;
        top: 100px;
        left: 5vw;
        transition: 1s all ease-in-out ;
    }
    .background-image{
        position: absolute;
        top: 80px;
        right: -30vw;
        scale: 0.55;
        transition: 1s all ease-in-out ;
    }
    .features-cards-container{
        flex-direction: column;
        justify-content: space-around;
        /* gap: 40px; */
    }
    .card{
        width: 80vw;
    }
    #card-themes-picture, #card-language-picture, #card-font-picture{
        width: 100%;
    }

    #statistics{
        flex-direction: column-reverse;
    }
    .stats-content{
        width: 90vw;
    }
    .stats-image{
        width: 90vw;
        height: 20vh;
    }
    footer{
        position: unset;
        height: fit-content;
    }
    .footer-made-by{
        width: fit-content;
        text-align: center;
    }
    .footer-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}