:root {
    --primary-color: #374151;
    --secondary-color: #C6C8CC;
    --terty-color: #1F2937;
}

.settings h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 0%;
}

.bxs-cog{
    margin-top: 7px;
}

.settings {
    font-family: monospace;
    width: 75vw;
    height: 75vh;
    background-color: var(--primary-color);
    position: absolute;
    padding-inline: 40px;
    color: var(--secondary-color);
    border-radius: 10px;
    position: absolute;
    top: 0%;
    margin: 5% 10%;
    border: 1px solid var(--terty-color);
    transition: all ease 0.2s;
    box-shadow: 0px 0px 10px var(--terty-color);

}

.color-theme p{
    text-align: left;
}

.color-theme,
.language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.themes,
.language-choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: 700;
}

.themes p,
.language p {
    margin: 0px;
}

#default,
#english,
#malagasy,
#french,
#custom {
    background-color: #374151;
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
    background-color: var(--terty-color);

}

#steel-gray {
    background-color: #928DAB;
    transition: all ease 0.2s;
    color: #1F1C2C;
    text-wrap: nowrap;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
}

#wood {
    background-color: #4B3B30;
    color: #BFA88F;
    transition: all ease 0.2s;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
}

#desert-sand {
    background-color: #838181;
    color: #2A4551;
    transition: all ease 0.2s;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
    text-wrap: nowrap;
    
}

#default:active,
#steel-gray:active,
#wood:active,
#desert-sand:active,
#custom:active {
    scale: 0.9;
    transition: all ease 0.2s;
}


.custom-color {
    position: absolute;
    margin: 15% 38%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding-inline: 20px;
    border-radius: 10px;
    border: 1px solid white;
    transition: all ease 0.2s;

}

.custom-color h3 {
    color: var(--secondary-color);
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.custom-color h5 {
    color: var(--secondary-color);
    font-size: 14px;
    font-family: monospace;
    margin-block: 10px;
    font-weight: 500;
}

.custom-color-input,
.custom-color-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#apply-button{
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-style: none;
    font-family:monospace;
    border-radius: 10px;
    padding: 5px 20px;
    margin-block: 20px;
    margin-bottom: 10px;
    transition: all ease 0.2s;
}

#apply-button:active{
    scale: 0.9;
    transition: all ease 0.2s;
}

.primary-color-container,
.secondary-color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#close-icon{
    cursor: pointer;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    color: var(--secondary-color);
    font-size: 20px;
}

.hide{
    opacity: 0;
    scale: 0;
    transition: all ease 0.2s;
}
#settings-close-icon{
    cursor: pointer;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    color: var(--secondary-color);
    font-size: 30px;
}


.font{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.font-choice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.font-choice p{
    margin: 0%;
}

#timesnr, #monospace, #arial,#comic{
    background-color: var(--terty-color);
    border-radius: 10px;
    margin: 0%;
    padding-inline: 20px;
    padding-block: 10px;
    cursor: pointer;
}

#arial{
    font-size: 13px;
}

#english:active, #malagasy:active, #french:active{
    scale: 0.9;
    transition: all ease 0.2s;
}

#english:hover, #malagasy:hover, #french:hover, #timesnr:hover, #monospace:hover, #arial:hover, #comic:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all ease 0.2s;
}

#comic{
    font-size: 10px;
}


@media (max-width : 720px) {
    
    .color-theme, .language, .font{
        flex-direction: column;
        margin-block: 40px;
    }
    .themes{
        flex-wrap: wrap;
        justify-content: center;
    }
}