:root {
    --primary-color: #374151;
    --secondary-color: #C6C8CC;
    --terty-color: #1F2937;


}

main {
    display: flex;
    flex-direction: row;
    gap: 0px;
    height: 100%;

    /* margin-top: 20vh; */
    align-items: center;
    /* justify-content: center; */

}


body {
    background-color: var(--primary-color);
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* animation: entry 1s 1 ease-in-out; */
}

#current-mode {
    font-family: monospace;
    font-weight: 600;
    color: var(--terty-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px 20px;
    /* margin-right: 10px; */
    width: 75%;
    text-align: center;
    /* font-size: 10px; */
}

#wpm,
#accuracy {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--terty-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    width: 140px;
    margin: 0%;
    margin-top: 10px;
    /* height: 200px; */
}

#graphics {
    background-color: var(--secondary-color);
    color: var(--terty-color);
    border-radius: 10px;
    min-width: 50vw;
    width: 500px;
    min-height: 300px;
    flex-direction: row;
    align-items: last baseline;
    border: 10px solid var(--secondary-color);
}




.previous-sats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#previous-wpm,
#previous-accuracy {
    width: 60vw;
    border-radius: 10px;
    height: 30px;
    background-color: var(--secondary-color);
    margin: 0%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--terty-color);
    font-family: monospace;
    font-weight: 600;
    padding-inline: 40px;
    padding-block: 10px;
    text-align: center;

}

h1{
    align-self: flex-start;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#next{
    padding-inline: 30px;
    padding-block: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    font-family: monospace;
    color: var(--terty-color);
    font-weight: 700;
    cursor: pointer;
    transition: all ease 0.2s;
}

#next:active{
    scale: 0.9;
    transition: all ease 0.2s;
}
#next:hover{
    background-color: var(--terty-color);
    color: var(--secondary-color);
    transition: all ease 0.2s;
}

.stat-animation{
    animation-delay: 1s;
    animation: appear 1s 1;
}

@keyframes appear {
    0%{
        height: 0px;
    }
}

/* @keyframes entry {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;

    }
} */

span:hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--terty-color);
    cursor: pointer;
    scale: 1.2;
    transition: all ease 0.1s;
}
span{
    transition: all ease 0.1s;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    /* padding-bottom: 5px; */
}

#next{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.bx-right-arrow-alt{
    font-size: 20px;
}


@media (max-width : 720px) {
    main{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    h1{
        margin-left: 20px;
    }
    #graphics{
        height: 200px;
        width: 90%;
        margin-bottom: 10px;
        /* min-height: 200px; */
    }
    #wpm{
        margin: 0%;
        padding: 10px;
        height: 80px;
    }
    #accuracy{
        margin: 0%;
        padding: 10px;
        height: 80px;
        display: flex;
        align-items: center; 
    }
    .statistics{
        display: flex;
        flex-direction: row;
        width: 95%;
        gap: 10px;
    }
    #current-mode{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #accuracy{
        padding: 10px;
    }
    .previous-stats{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #previous-wpm, #previous-accuracy{
        height: fit-content;
        width: 80%;
    }
}
