:root {
    --primary-color: #374151;
    --secondary-color: #C6C8CC;
    --terty-color: #1F2937;


}

main {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 20vh;
    /* align-items: center; */
    /* justify-content: center; */
}

body {
    background-color: var(--primary-color);
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#current-mode {
    font-family: monospace;
    font-weight: 600;
    color: var(--terty-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px 20px;
    /* margin-right: 10px; */
    width: 75%;
    text-align: center;
    /* font-size: 10px; */
}

#wpm,
#accuracy {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--terty-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    width: 140px;
    margin: 0%;
    margin-top: 10px;
}

#graphics {
    background-color: var(--secondary-color);
    color: var(--terty-color);
    border-radius: 10px;
    width: 50vw;
    margin-top: 20px;
    height: auto;
}

.previous-sats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#previous-wpm,
#previous-accuracy {
    width: 60vw;
    border-radius: 10px;
    height: 30px;
    background-color: var(--secondary-color);
    margin: 0%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--terty-color);
    font-family: monospace;
    font-weight: 600;
    padding-inline: 40px;
    padding-block: 10px;
    text-align: center;

}